---
- name: install the package
  apt: name=inadyn state=present
  become: true
- name: update the configuration
  lineinfile: path=/etc/inadyn.conf regexp={{ item.regexp }} line={{ item.line }}
  with_items:
    - { regexp: '^system', line: 'system {{ inadyn.system }}' }
    - { regexp: '^username', line: 'username {{ inadyn.username }}' }
    - { regexp: '^password', line: 'password {{ inadyn.password }}' }
    - { regexp: '^alias', line: 'alias {{ inadyn.alias }}' }
  become: true
  notify:
    - restart inadyn
- name: enable the service
  lineinfile: path=/etc/default/inadyn regexp='^RUN_DAEMON=' line='RUN_DAEMON="yes"'
  become: true
  notify:
    - restart inadyn
