---
- apt: name={{ item }} state=present
  with_items:
  - build-essential
  - libssl-dev
  sudo: yes
- shell: "{{ item }}"
  with_items:
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.6/install.sh | bash
  - source ~/.nvm/nvm.sh && nvm install node && nvm alias default node
  args:
    executable: /bin/bash

