---
- apt: name={{ item }} state=present
  with_items:
  - build-essential
  - libssl-dev
  become: yes
- shell: "{{ item }}"
  with_items:
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.6/install.sh | bash
  - source ~/.nvm/nvm.sh && nvm install node && nvm alias default node
  args:
    executable: /bin/bash
- blockinfile:
    path: /etc/skel/.profile
    block: |
      export NVM_DIR="~/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
  become: yes
- blockinfile:
    path: /etc/skel/.bashrc
    block: |
      export NVM_DIR="~/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
  become: yes

