---
- name: install the package
  apt:
    name:
      - git
    state: present
  become: true
- name: configure git
  git_config:
    name: 'credential.helper'
    scope: global
    value: 'cache --timeout=604800'
