---
- apt_key: url=https://download.docker.com/linux/ubuntu/gpg state=present
  become: yes
- apt_repository: repo='deb https://download.docker.com/linux/ubuntu bionic stable' filename='docker' state=present
  become: yes
- apt: name=docker-ce state=present
  become: yes
- systemd: name=docker enabled=yes
  become: yes
- user: name=ubuntu append=yes groups=docker
  become: yes
