---
- shell: "{{ item }}"
  with_items:
  - id -u uiuser; if [ $? -ne 0 ]; then adduser uiuser --disabled-login; fi
  - adduser uiuser sudo
  - adduser uiuser ubuntu
  args:
    executable: /bin/bash
  become: true
# Todo: setup google authenticator
# Todo: set xfce4-terminal settings
# Todo: set xfwm settings
# Todo: install vscode extensions
